{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About</h5>
    <div class="card-body">
        <p class="card-text">—————————————————</p>
        <p class="card-text">レースアンクエット</p>
        <p class="card-text">京都情報大学院大学</p>
        <p class="card-text">携帯番号: 080-8745-3199</p>
        <p class="card-text">メール： quyet.kcg.edu.2020@gmail.com</p>
        <p class="card-text">—————————————————</p>
        <a href="https://www.facebook.com/xuanquyet1005/" class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}