<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather API</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter your city" name="city">
        <br><br>
        <input type="number" placeholder="Enter the days ago (from 1 to 16)" name="numberdays">
        <br><br>
        <button type="submit">Enter</button>
    </form>
    <h1>Location: {{city}}</h1>
    <h1>Description: {{description}}</h1>
    <h1>Number Days: {{numberdays}}</h1>
</body>
</html>